{% extends "base.html" %}
{% block contenido %}
<section class="acceso">
  <h1>Iniciar sesión</h1><p>Acceda con su código y contraseña institucional.</p>
  <form method="post" class="formulario">
    <label>Código<input name="codigo" minlength="6" maxlength="6" required autofocus></label>
    <label>Contraseña<input name="password" type="password" minlength="7" maxlength="7" required></label>
    <button type="submit">Iniciar sesión</button>
  </form>
  <p class="enlace">¿Aún no tiene una cuenta? <a href="{{ url_for('registro') }}">Regístrese</a></p>
</section>
{% endblock %}
