{% extends "base.html" %}
{% block contenido %}
<section class="acceso">
  <h1>Registro de bombero</h1><p>Complete los datos para crear su cuenta de acceso.</p>
  <form method="post" class="formulario">
    <label>Código (6 caracteres)<input name="codigo" minlength="6" maxlength="6" required autofocus></label>
    <label>Nombres<input name="nombres" required></label>
    <label>Apellidos<input name="apellidos" required></label>
    <label>Contraseña (7 caracteres)<input name="password" type="password" minlength="7" maxlength="7" required></label>
    <button type="submit">Registrarme e iniciar sesión</button>
  </form>
  <p class="enlace">¿Ya tiene cuenta? <a href="{{ url_for('iniciar_sesion') }}">Inicie sesión</a></p>
</section>
{% endblock %}
